* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.top_h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
